 <div id="gallery">
        	<div class="gallery_box">
                <a class="lightbox" href="assets/gallery/image_01_b.jpg" title="Cras nec nisl a enim ornare imperdiet.">
				<img width="300" height="150" src="assets/gallery/image_01.jpg" alt="Image 01" class="image_wrapper" />
                </a>
                <p><b>Desktops</b></p>
                <div class="cleaner"></div>
			</div>
            <div class="gallery_box">
                <a class="lightbox" href="assets/gallery/image_02_b.jpg" title="Sed in urna neque nec arcu arcu, sed pretium lacus.">
                    <img src="assets/gallery/image_02.jpg" alt="Image 02" class="image_wrapper" />
                </a>
                <p><b>Laptops</b></p>
                <div class="cleaner"></div>
			</div>
            <div class="gallery_box">
                <a class="lightbox" href="assets/gallery/image_03_b.jpg" title="Integer est sem, dignissim quis auctor vel.">
                    <img src="assets/gallery/image_03.jpg" alt="Image 03" class="image_wrapper" />
                </a>
                <p><b>Printers</b></p>
                <div class="cleaner"></div>
			</div>
            <div class="gallery_box gb_lmb">
                <a class="lightbox" href="assets/gallery/image_04_b.jpg" title="Vivamus volutpat, elit non tempor vehicula.">
	                <img src="assets/gallery/image_04.jpg" alt="Image 04" class="image_wrapper" />
                </a>
                <p><b>Scanners</b></p>
                <div class="cleaner"></div>
			</div>
            <div class="gallery_box">
                <a class="lightbox" href="assets/gallery/image_05_b.jpg" title="Nulla pharetra blandit nunc, ut volutpat leo tincidunt eget.">
                	<img src="assets/gallery/image_05.jpg" alt="Image 05" class="image_wrapper" />
                </a>
                <p><b>Computer Accessories</b></p>
<div class="cleaner"></div>
			</div>
            <div class="gallery_box gb_lmb">
                <a class="lightbox" href="assets/gallery/image_06_b.jpg" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
                <img src="assets/gallery/image_06.jpg" alt="Image 06" class="image_wrapper" />
                </a>
                <p><b>Laptop Accessories</b></p>
                <div class="cleaner"></div>
			</div>
        </div> 
             
